<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
      <link rel="stylesheet" href="/css/bootstrap.min.css"
  </head>
  <body>
  <div class="container">
<div class="page-header">
  <h1>Kistenverwaltung</h1>
  <p>VCP Bundeslager 2022</p>
</div>
</div>
<div class="container">
    <!-- the body tag is used to "pull in" content from pages -->
    {{{ body }}}
    </div>
  </body>
</html>