<!DOCTYPE html>
<html>
<head>
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>VCP Bundeslager 2022 - Neustadt</h1>
        <h2>Kistenverwaltung</h2>
    </div>
</div>
<div class="container">
    <!-- the body tag is used to "pull in" content from pages -->
    {{{ body }}}
</div>
</body>
</html>